/* Agraham */
@font-face {
    font-family: 'Agraham';
    src: url("../fonts/Agraham.otf") format("woff");
    font-weight: 400;
    font-style: normal; 
}


/* 노토산스 */
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 350;
    src: url(../fonts/notokr-demilight.eot); 
}
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.otf) format("opentype"); 
}
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.otf) format("opentype"); 
}
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Bold.otf) format("opentype"); 
}


/* 라토 */
@font-face {
    font-family: "Lato";
    font-weight: 300;
    src: url(../fonts/Lato-Light.eot);
    src: local("Lato-Light"), 
        url(../fonts/Lato-Light.eot?#iefix) format("embedded-opentype"), 
        url(../fonts/Lato-Light.woff) format("woff"), 
        url(../fonts/Lato-Light.woff2) format("woff2"), 
        url(../fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url(../fonts/Lato-Regular.eot);
    src: local("Lato-Regular"), 
        url(../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), 
        url(../fonts/Lato-Regular.woff) format("woff"), 
        url(../fonts/Lato-Regular.woff2) format("woff2"), 
        url(../fonts/Lato-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url(../fonts/Lato-Bold.eot);
    src: local("Lato-Bold"), 
        url(../fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), 
        url(../fonts/Lato-Bold.woff) format("woff"), 
        url(../fonts/Lato-Bold.woff2) format("woff2"), 
        url(../fonts/Lato-Bold.ttf) format("truetype");
}
/* 나눔스퀘어 */
@font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    src: url(../fonts/NanumSquareL.woff) format("woff");
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    src: url(../fonts/NanumSquareR.woff) format("woff");
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    src: url(../fonts/NanumSquareB.woff) format("woff");
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    src: url(../fonts/NanumSquareEB.woff) format("woff");
}
/* @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); */

/* 지마켓 */
@font-face {
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"), 
    url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff2") format("woff2"), 
    url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 500;
    src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"), 
    url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2") format("woff2"), 
    url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Gmarket Sans Light"), local("GmarketSans-Light"), 
    url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff2") format("woff2"), 
    url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 프리스탠다드 */
@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal; 
}

@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal; 
}
