// 공통
.sec_ttl_box {
    text-align: center;
    margin-bottom: rem(60px);

    .line {
        display: block;
        background: $c-pt;
        width: rem(80px); height: rem(5px);
    }

    .sec_ttl {
        font-size: rem(22px);
        font-family: 'Agraham';
        text-transform: uppercase;
        letter-spacing: 0;
        position: relative;
        display: inline-block;

        
        &::after {
            content: '';
            display: block;
            width: calc(100% + rem(40px));
            height: 100%;
            background:$c-pt;
            opacity: 0.6;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            z-index: -1;
        }
    }

}

.cover_img {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: rem(10px);
    -webkit-border-radius: rem(10px);
    -moz-border-radius: rem(10px);
    -ms-border-radius: rem(10px);
    -o-border-radius: rem(10px);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}





// visual_sec
.visual_sec  {
    background: #272727;
    color: $c-w;

    .inner_1300 {
        @include flexVal (flex, center , center);
        height: 100%
    }

    .ttl {
        font-size: rem(60px);
    
        strong {
            font-family: 'Agraham';
            color: $c-pt;
            line-height: 2;
            display: inline-block;
            margin: 0 rem(35px);
            letter-spacing: 0;
            padding: 0 rem(10px) 0 rem(20px);
            position: relative;
            width: rem(430px);
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(12, end);
            -webkit-animation:typing 2s steps(12, end);

            &::after {
                content: '';
                width: 2px;
                height: 75%;
                background: #fff;
                position: absolute;
                top:5%;
                right: 0;
                animation: blink-caret .5s step-end infinite alternate;
                -webkit-animation:blink-caret .5s step-end infinite alternate;
            }
            &::before {
                content: '';
                display: block;
                width: calc(100% + rem(10px));
                height: 3px;
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
            }

        }
    }
}

// @-webkit-keyframes typing { from { width: 0; } }
// @-webkit-keyframes blink-caret {  50% { background: transparent; }}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret {50% { background: transparent; }}

.about_sec {
    padding-top:rem(30px);
    .my_img {
        margin-right: rem(80px);
        flex: 0 0 auto;

        figure {
            max-width: rem(350px);
            border-radius: rem(200px) rem(200px)  0 0;
            overflow: hidden;
            padding: rem(25px);
            box-sizing: border-box;
            border: 2px solid $c-pt;
        }
    }

    .profile {
        margin-top: rem(30px);
        dl {
            @include flexVal (flex, flex-start ,center);
            line-height : 1.6
        }
        dt {
            font-size: rem(20px);
            font-weight: 500;
        }
        dd {
            position: relative;
            padding-left:  rem(10px);
            margin-left: rem(10px);
            font-size:  rem(18px);
            color: #555;

            &::after {
                content: '';
                display: block;
                width: 1px;
                height:  rem(14px);
                background: $l-db;
                position: absolute;
                top: 50%;
                left: 0;
                transform:translateY(-50%) ;
            }
        }
    }

    .my_area {
        font-size:rem(20px);
        line-height: 1.5;
        margin-bottom: rem(40px); 
    }
    .my_info_box {
        .label {
            display: block;
            color:$c-pt;
            font-size: rem(20px);
            margin-bottom: rem(15px);
            text-transform: uppercase;
        }
        .detail {
            p+ p {
                margin-top: rem(20px);
            }
            .date {
                display: block;
                margin-bottom: rem(10px);
                color: $c-gr99;
            }
            b {
                font-size: rem(20px);
                margin-right: rem(8px);
                display: inline-block;
                margin-bottom: rem(6px);
            }
            span {
                font-size: rem(18px);
                color:$c-gr75;
                display: inline-block;
                line-height: 1.4;
            }
        }
        .hashtag_box {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            
            .tag {
                display: block;
                padding:rem(8px) rem(20px);
                background:#f9f9f9;
                border-radius: rem(50px);
                font-size: rem(16px);
            }
        }
    }
}

.works_sec {
    .sec_ttl_box {
        text-align: left;
        padding-left: rem(20px);
    }
    .works_tab {
        margin-bottom: rem(60px);

        button {
            font-weight: 500;
            font-size: rem(24px);
            padding-right: rem(15px);
            margin-right: rem(15px);
            position: relative;

            &.on {
                &::after {
                    content: '';
                    display: block;
                    width: rem(9px);
                    height: rem(9px);
                    background: $c-pt;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    position: absolute;
                    top: rem(-3px); right: 0;
}
            }
        }
    }
    .cont_box {
        display: none;
        &.on {
            display: block;
        }
    }

    .woks_slider {
        position: relative;
        
        .img_box {
            width: 55%;

            .cover_img {
                padding-top: 60%;
                border: rem(1px) solid #eee;
                box-shadow: 0px rem(10px) rem(15.04px) rem(0.96px) rgba(0, 0, 0, 0.06);
            }
        }

        .value {
            width:45%;
            padding-left: rem(40px);
            padding-top:rem(40px);

            .work_type {
                color: #757575;
                font-size: rem(18px);
                display: block;
                font-weight: 350;
                margin-bottom: 20px;
            }

            .work_name {
                font-size: rem(28px);
                display: block;
                margin-bottom: 30px;
            }
            .work_desc {
                font-size: rem(20px);
                line-height: 1.5;
                color: #454545;
                margin-bottom: 20px;
            }
            dl {
                line-height: 1.9;
                display: flex;

                dt {
                    font-weight: 500;
                    width: rem(90px);
                }
                dd {
                    color: #757575;
                    font-weight: 400;
                }
            }
            .cta_btn {
                display: block;
                width: rem(210px);
                line-height: rem(55px);
                border: rem(1px) solid $c-pt;
                text-align: center;
                border-radius: rem(10px);
                -webkit-border-radius: rem(10px);
                -moz-border-radius: rem(10px);
                -ms-border-radius: rem(10px);
                -o-border-radius: rem(10px);
                margin: rem(40px) 0 0;
                transition: 0.3s;
                &:hover{
                    background: $c-pt;
                    color: $c-w;
                    animation: jelly 0.5s;
                }
            }
        }
        // .swiper-slide-next,
        // .swiper-slide-prev {
        //     opacity: 0 !important;
        // }
        .swiper-button{
            position: absolute;
            top: 50%;
            width: rem(37px);
            height: rem(72px);
            margin-top: 0;
            transform: translateY(-50%);
            background-size: 37px auto;
            background-image: url(../img/slide_prev.png);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .swiper-button-prev {
            left: rem(-80px);
        }
        .swiper-button-next {
            right: rem(-80px);
            transform:translateY(-50%) rotate(180deg);
            -webkit-transform:translateY(-50%) rotate(180deg);
            -moz-transform:translateY(-50%) rotate(180deg);
            -ms-transform:translateY(-50%) rotate(180deg);
            -o-transform:translateY(-50%) rotate(180deg);
        }

        .swiper-pagination {
            bottom: rem(-40px);
            .swiper-pagination-bullet {
                background: #dbdbdb;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: $c-pt;
            }
        }
    }



}
@keyframes jelly {
    25% {
      transform: scale(0.9, 1.1);
      -webkit-transform: scale(0.9, 1.1);
      -moz-transform: scale(0.9, 1.1);
      -ms-transform: scale(0.9, 1.1);
      -o-transform: scale(0.9, 1.1);
}
  
    50% {
      transform: scale(1.1, 0.9);
    }
  
    75% {
      transform: scale(0.95, 1.05);
    }
  }

.contact_sec {
    background: #454545;
    * {
        color: #fff;
    }
    p {
        font-size: rem(22px);
        line-height: 1.5;
        font-weight: 350;
        margin-bottom: rem(30px);
    }
    em {
        font-size: rem(22px);
        line-height: 1.5;
        margin-bottom: rem(60px);
        display: block;
    }
    div {
        a {
            display: flex;
            align-items: center;;
            font-weight: 350;
            font-size: rem(20px);
            span {
                margin-right: rem(15px);
                color: $c-pt;
                font-size: rem(20px);
            }
            &+a {
                margin-top: rem(15px);
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .works_sec {
        .woks_slider {
            padding: 0 rem(50px);

            .swiper-button-prev {
                left: 0;
            }
            .swiper-button-next {
                right: 0;
            }

        }
    }
}
@media screen and (max-width: 1500px) {
 #container {
    section {
        height: auto !important;
        padding: rem(100px) 0;
        .fp-tableCell {
            height: auto !important;
            display: block;
        }
    }
    .works_sec {
        border-top: rem(1px) solid #eee;
        padding-bottom: rem(150px);
    }
    .contact_sec,
    .visual_sec {
        height: 100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 16px;
    }
}
@media screen and (max-width: 1150px) {
    .visual_sec  {
        .ttl {
            display: flex;
            flex-direction: column;
            text-align: center;
            em {
                // display: block;
                margin: rem(60px) 0 rem(50px);
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .about_sec {
        .flex--c {
            flex-direction: column;

            .my_img {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0 0 rem(50px);
                figure {
                    max-width: rem(250px);
                    padding: rem(15px);
                }
            }
        }
        .profile {
            margin-bottom: 0;
            margin-left: rem(50px);
        }
    }


    .works_sec {
        .woks_slider  {
            .flex {
                flex-direction: column;
            }
            .img_box {
                width: 80%;
                margin: 0 auto;
            }
            .value {
                width: 100%;
                .cta_btn {
                    margin: rem(40px) auto 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 3.8889vw;
        // font-size: 28px;
    }
    [class^="inner"] {
        width: -webkit-calc(100% - 2.1429rem);
        width: -moz-calc(100% - 2.1429rem);
        width: calc(100% - 2.1429rem);
    }


    .logo {
        font-size:1.4286rem;
        span {
            font-size: 1.2857rem;
        }
    }
    #header{
        .inner {
            padding: .6786rem 0.9375rem;
            width: 100%;
        }
        .ham_btn {
            width: 2.8571rem;
            height: 2.8571rem;
            font-size: 0;
            color: transparent;
            background: no-repeat center / 2.8571rem auto;
            background-image: url(../img/ham_btn_w.png);
        }
       
        &.gnb_open {
            z-index: 9999;
            background: $c-pt;

            .logo {
                span {
                    color: $c-w;
                }
            }

            .ham_btn {
                background-image: url(../img/ham_close.png);
            }

            #gnb {
                display: block;
                position: absolute;
                top: 4.2143rem; left: 0;
                background: #fff;
                width: 100%; height: 100vh;
                ul {
                    display: block;
                    padding-top: 1.4286rem;
                    li {
                        margin: 0;
                        width: 100%;
                        text-align: center;
                        height: auto;
                    }
                    a {
                        color: #252525 !important;
                        text-align: center;
                        display: block;
                        font-size: 1.1429rem;
                        line-height:3.5714rem;
                    }
                }
            }
        }
    }
    #gnb  {
        display: none;
    }
   
    .sec_ttl_box {
        margin-bottom:2.8571rem;

        .sec_ttl {
            font-size: 1.0714rem;
            &::after {
                width: calc(100% + 1.4286rem);
            }
        }
    
    }


    #container {
        
        .visual_sec  {
            padding:8.9286rem 0 ;
            height: 90vh !important;
            .ttl {
                font-size: 1.7857rem;
                em {
                    margin: 1.4286rem 0 1.7857rem;
                }
                strong {
                    margin: 0 1.0714rem;
                    width: 14.2857rem;
                }
            }
        }

        .about_sec  {
            padding: 4.2857rem 0;
            .my_img {
                display: block;
                margin-bottom: 1.7857rem;
                figure {
                    max-width: 10.7143rem;
                    padding: .7143rem;
                    margin: 0 auto;
                }
            }
            .profile {
                margin-top: 1.4286rem;
                margin-left: 0;
                dt {
                    font-size: 1rem;
                }
                dd {
                    padding-left: .5357rem;
                    margin-left: .5357rem;
                    font-size: .9286rem;
                }
            }
             .my_area  {
                font-size: 1rem;
                margin-bottom: 0;
                padding-bottom:  1.7857rem;
            }
            .my_info_box {
                .label {
                    font-size: 1rem;
                    margin-bottom: 1.0714rem;
                }
                .detail  {
                    p+p {
                        margin-top: 1.4286rem;
                    }
                    .date {
                        font-size: .9286rem;
                        margin-bottom:.5357rem;
                    }
                    b {
                        font-size: 1rem;
                        // display: block;
                        margin-bottom: .3571rem;
                        margin-right:.5357rem ;
                    }
                }
                .hashtag_box {
                    gap : .7143rem;
                    .tag {
                        padding: .5357rem 1.0714rem;
                        border-radius: 1.7857rem;
                        font-size:.8571rem;
                    }
                }
            }
        }
        .works_sec  {
            border-top: .0714rem solid #eee;
            padding: 4.2857rem 0;
            .sec_ttl_box {
                margin-bottom: 2.8571rem;
                padding-left:.7143rem;
            }
            .works_tab {
                margin-bottom:2.1429rem;
                button {
                    font-size: 1rem;
                    padding-right: .7143rem;
                    margin-right: .7143rem;
                    &.on::after {
                        width: .3571rem; 
                        height: .3571rem;
                        top: -0.0714rem;
                    }
                }
            }
            .woks_slider {
                padding: 0 1.7857rem;
                .img_box {
                    width: 100%;
                    .cover_img {
                        border-radius: .3571rem;
                        border: .0714rem solid #eee;
                        box-shadow: 0rem .3571rem .5371rem .0343rem rgba(0, 0, 0, 0.06);
                        -webkit-border-radius: .3571rem;
                        -moz-border-radius: .3571rem;
                        -ms-border-radius: .3571rem;
                        -o-border-radius: .3571rem;
                    }
                }
                .value {
                    padding:1.7857rem .7143rem 0;
                    .work_type {
                        font-size: .8571rem;
                        margin-bottom: .7143rem;
                    }
                    .work_name {
                        font-size: 1.0714rem;
                        margin-bottom: 1.0714rem;
                    }
                    .work_desc {
                        font-size: .9286rem;
                        margin-bottom: .7143rem;
                    }
                    dl {
                        dt {
                            width:4.2857rem;
                            font-size: .9286rem;
                        }
                        dd {
                            font-size: .9286rem;
                        }
                    }
                    .cta_btn {
                        margin: 1.4286rem 0 0 ;
                        width: 100%;
                        line-height: 2.8571rem;
                        border-width: .0714rem;
                        border-radius: .3571rem;
                        -webkit-border-radius: .3571rem;
                        -moz-border-radius: .3571rem;
                        -ms-border-radius: .3571rem;
                        -o-border-radius: .3571rem;
                        font-size: .9286rem;
}
                }
                .swiper-button {
                    width: 1.4286rem;
                    height:3.5714rem;
                    background-size: 1.4286rem auto;
                }
                .swiper-button-prev{
                    left: -0.5357rem;
                }    
                .swiper-button-next{
                    right: -0.5357rem;
                }
                .swiper-pagination {
                    bottom: -2.1429rem;
                }
                .swiper-pagination-bullet {
                    width: .3571rem; 
                    height: .3571rem;
                    margin: 0 .1786rem;
                }
            }
        }

        .contact_sec {
            height: auto !important;
            padding: 3.5714rem 0 10.7143rem;
            p {
                font-size: 1.0714rem;
                margin-bottom: 1.7857rem;
            }
            em {
                font-size: 1.0714rem;
                margin-bottom: 2.8571rem;
            }
            div {
                a {
                    font-size: 1rem;
                    span {
                        font-size: 1.1429rem;
                        margin-right: .7143rem;
                    }
                }
                a+a {
                    margin-top: .7143rem;
                }
            }
        }

        #footer {
            padding: 1.4286rem 0;
            p {
                font-size: .8571rem;
                &.copy {
                    margin-top: .7143rem;
                }
            }
        }
    }
    
  









}



















