// 공통
.sec_ttl_box {
    text-align: center;
    margin-bottom: rem(60px);

    .line {
        display: block;
        background: $c-pt;
        width: rem(80px); height: rem(5px);
    }

    .sec_ttl {
        font-size: rem(22px);
        font-family: 'Agraham';
        text-transform: uppercase;
        letter-spacing: 0;
        position: relative;
        display: inline-block;

        
        &::after {
            content: '';
            display: block;
            width: calc(100% + rem(40px));
            height: 100%;
            background:$c-pt;
            opacity: 0.6;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            z-index: -1;
        }
    }

}

.cover_img {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: rem(10px);
    -webkit-border-radius: rem(10px);
    -moz-border-radius: rem(10px);
    -ms-border-radius: rem(10px);
    -o-border-radius: rem(10px);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}





// visual_sec
.visual_sec  {
    background: #272727;
    color: $c-w;

    .inner_1300 {
        @include flexVal (flex, center , center);
        height: 100%
    }

    .ttl {
        font-size: rem(60px);
    
        strong {
            font-family: 'Agraham';
            color: $c-pt;
            line-height: 2;
            display: inline-block;
            margin: 0 rem(35px);
            letter-spacing: 0;
            padding: 0 rem(10px) 0 rem(20px);
            position: relative;
            width: rem(430px);
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(12, end);
            -webkit-animation:typing 2s steps(12, end);

            &::after {
                content: '';
                width: 2px;
                height: 75%;
                background: #fff;
                position: absolute;
                top:5%;
                right: 0;
                animation: blink-caret .5s step-end infinite alternate;
                -webkit-animation:blink-caret .5s step-end infinite alternate;
            }
            &::before {
                content: '';
                display: block;
                width: calc(100% + rem(10px));
                height: 3px;
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
            }

        }
    }
}

// @-webkit-keyframes typing { from { width: 0; } }
// @-webkit-keyframes blink-caret {  50% { background: transparent; }}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret {50% { background: transparent; }}

.about_sec {
    padding-top:rem(30px);
    .my_img {
        margin-right: rem(80px);
        flex: 0 0 auto;

        figure {
            max-width: rem(350px);
            border-radius: rem(200px) rem(200px)  0 0;
            overflow: hidden;
            padding: rem(25px);
            box-sizing: border-box;
            border: 2px solid $c-pt;
        }
    }

    .profile {
        margin-top: rem(30px);
        dl {
            @include flexVal (flex, flex-start ,center);
            line-height : 1.6
        }
        dt {
            font-size: rem(20px);
            font-weight: 500;
        }
        dd {
            position: relative;
            padding-left:  rem(10px);
            margin-left: rem(10px);
            font-size:  rem(18px);

            &::after {
                content: '';
                display: block;
                width: 1px;
                height:  rem(14px);
                background: $l-db;
                position: absolute;
                top: 50%;
                left: 0;
                transform:translateY(-50%) ;
            }
        }
    }

    .my_area {
        font-size:rem(20px);
        line-height: 1.5;
        margin-bottom: rem(40px); 
    }
    .my_info_box {
        .label {
            display: block;
            color:$c-pt;
            font-size: rem(20px);
            margin-bottom: rem(15px);
            text-transform: uppercase;
        }
        .detail {
            p+ p {
                margin-top: rem(20px);
            }
            .date {
                display: block;
                margin-bottom: rem(10px);
                color: $c-gr75;
            }
            b {
                font-size: rem(20px);
                margin-right: rem(8px);
            }
            span {
                font-size: rem(18px);
                color: $c-bk45;
            }
        }
        .hashtag_box {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            
            .tag {
                display: block;
                padding:rem(8px) rem(20px);
                background:#f9f9f9;
                border-radius: rem(50px);
                font-size: rem(16px);
            }
        }
    }
}

.works_sec {
    .sec_ttl_box {
        text-align: left;
        padding-left: rem(20px);
    }
    .works_tab {
        margin-bottom: rem(60px);

        button {
            font-weight: 500;
            font-size: rem(24px);
            padding-right: rem(15px);
            margin-right: rem(15px);
            position: relative;

            &.on {
                &::after {
                    content: '';
                    display: block;
                    width: rem(9px);
                    height: rem(9px);
                    background: $c-pt;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    position: absolute;
                    top: rem(-3px); right: 0;
}
            }
        }
    }
    .cont_box {
        display: none;
        &.on {
            display: block;
        }
    }

    .woks_slider {
        position: relative;
        
        .img_box {
            width: 55%;

            .cover_img {
                padding-top: 60%;
                border: rem(1px) solid #eee;
                box-shadow: 0px rem(10px) rem(15.04px) rem(0.96px) rgba(0, 0, 0, 0.06);
            }
        }

        .value {
            width:45%;
            padding-left: rem(40px);
            padding-top:rem(40px);

            .work_type {
                color: #757575;
                font-size: rem(18px);
                display: block;
                font-weight: 350;
                margin-bottom: 20px;
            }

            .work_name {
                font-size: rem(28px);
                display: block;
                margin-bottom: 30px;
            }
            .work_desc {
                font-size: rem(20px);
                line-height: 1.5;
                color: #454545;
                margin-bottom: 20px;
            }
            dl {
                line-height: 1.9;
                display: flex;

                dt {
                    font-weight: 500;
                    width: rem(90px);
                }
                dd {
                    color: #757575;
                    font-weight: 400;
                }
            }
            .cta_btn {
                display: block;
                width: rem(210px);
                line-height: rem(55px);
                border: rem(1px) solid $c-pt;
                text-align: center;
                border-radius: rem(10px);
                -webkit-border-radius: rem(10px);
                -moz-border-radius: rem(10px);
                -ms-border-radius: rem(10px);
                -o-border-radius: rem(10px);
                margin: 40px 0 0;
                transition: 0.3s;
                &:hover{
                    background: $c-pt;
                    color: $c-w;
                    animation: jelly 0.5s;
                }
            }
        }
        // .swiper-slide-next,
        // .swiper-slide-prev {
        //     opacity: 0 !important;
        // }
        .swiper-button{
            position: absolute;
            top: 50%;
            width: 37px;
            height: 72px;
            margin-top: 0;
            transform: translateY(-50%);
            background-size: 37px auto;
            background-image: url(../img/slide_prev.png);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .swiper-button-prev {
            left: -80px;
        }
        .swiper-button-next {
            right: -80px;
            transform:translateY(-50%) rotate(180deg);
            -webkit-transform:translateY(-50%) rotate(180deg);
            -moz-transform:translateY(-50%) rotate(180deg);
            -ms-transform:translateY(-50%) rotate(180deg);
            -o-transform:translateY(-50%) rotate(180deg);
        }

        .swiper-pagination {
            bottom: -40px;
            .swiper-pagination-bullet {
                background: #dbdbdb;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: $c-pt;
            }
        }
    }



}
@keyframes jelly {
    25% {
      transform: scale(0.9, 1.1);
    }
  
    50% {
      transform: scale(1.1, 0.9);
    }
  
    75% {
      transform: scale(0.95, 1.05);
    }
  }

.contact_sec {
    background: #454545;
    * {
        color: #fff;
    }
    p {
        font-size: rem(22px);
        line-height: 1.5;
        font-weight: 350;
        margin-bottom: rem(30px);
    }
    em {
        font-size: rem(22px);
        line-height: 1.5;
        margin-bottom: rem(60px);
        display: block;
    }
    div {
        a {
            display: flex;
            align-items: center;;
            font-weight: 350;
            font-size: rem(20px);
            span {
                margin-right: rem(15px);
                color: $c-pt;
            }
            &+a {
                margin-top: rem(15px);
            }
        }
    }
}
