@charset "UTF-8";
/* Agraham */
@font-face {
  font-family: "Agraham";
  src: url("../fonts/Agraham.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* 노토산스 */
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 350;
  src: url(../fonts/notokr-demilight.eot);
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
/* 라토 */
@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../fonts/Lato-Light.eot);
  src: local("Lato-Light"), url(../fonts/Lato-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Light.woff) format("woff"), url(../fonts/Lato-Light.woff2) format("woff2"), url(../fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(../fonts/Lato-Regular.eot);
  src: local("Lato-Regular"), url(../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../fonts/Lato-Bold.eot);
  src: local("Lato-Bold"), url(../fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Bold.woff) format("woff"), url(../fonts/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato-Bold.ttf) format("truetype");
}
/* 나눔스퀘어 */
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../fonts/NanumSquareL.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url(../fonts/NanumSquareR.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url(../fonts/NanumSquareB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url(../fonts/NanumSquareEB.woff) format("woff");
}
/* @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); */
/* 지마켓 */
@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"), url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff2") format("woff2"), url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"), url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2") format("woff2"), url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Gmarket Sans Light"), local("GmarketSans-Light"), url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff2") format("woff2"), url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 프리스탠다드 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
*::after, *::before {
  box-sizing: border-box;
}

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  color: inherit;
  font-family: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
html.overflow {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  color: #252525;
  word-break: keep-all;
  letter-spacing: -0.04em;
  line-height: 1;
  font-family: "NanumSqaure", "s-core-dream", "Noto Sans KR", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Malgun Gothic", "맑은 고딕", Dotum, 돋움, sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::after, blockquote::before, q::after, q::before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

input, textarea, select {
  border: 1px solid #dbdbdb;
  padding: 0 1.25em;
  font: inherit;
  border-radius: 0;
  outline: 0;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 20px;
  line-height: 1.5;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  resize: none;
}
textarea:-ms-input-placeholder {
  color: #bbb;
}
textarea:focus {
  outline: none;
}

input::-moz-placeholder {
  color: #bbb;
  font-size: inherit;
  font-weight: inherit;
}

input::placeholder {
  color: #bbb;
  font-size: inherit;
  font-weight: inherit;
}
input::-webkit-input-placeholder {
  color: #bbb;
}
input:-ms-input-placeholder {
  color: #bbb;
}
input[type=password] {
  font-family: initial;
}
input[type=date] {
  color: #191f28;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
input:-mos-input-placeholder {
  color: #bbb;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px;
  background: #fff url(../img/ico/ico_select.png) right 10px center no-repeat;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

address, caption, code, em, var {
  font-style: normal;
}

input, select, textarea, button,
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

em {
  font-style: normal;
}

img {
  height: auto;
}

img, fieldset, iframe {
  border: 0 none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.blind,
legend {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  left: 0;
}

html {
  font-size: 18px;
}

#footer {
  font-size: 0.889rem;
}

.flex--s, .flex--e, .flex--c, .flex-e-s, .flex-e-e, .flex-e-c, .flex-e, .flex-c-s, .flex-c-e, .flex-c-c, .flex-c, .flex-a-s, .flex-a-e, .flex-a-c, .flex-a, .flex-b-s, .flex-b-e, .flex-b-c, .flex-b, .flex {
  display: flex;
  display: -ms-flexbox;
}

.flex-b-s, .flex-b-e, .flex-b-c, .flex-b {
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
}

.flex-a-s, .flex-a-e, .flex-a-c, .flex-a {
  justify-content: space-around;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
}

.flex-c-s, .flex-c-e, .flex-c-c, .flex-c {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.flex-e-s, .flex-e-e, .flex-e-c, .flex-e {
  justify-content: flex-end;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
}

.flex--s, .flex-e-s, .flex-c-s, .flex-a-s, .flex-b-s {
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.flex--c, .flex-e-c, .flex-c-c, .flex-a-c, .flex-b-c {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.flex--e, .flex-e-e, .flex-c-e, .flex-a-e, .flex-b-e {
  align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
}

#wrap {
  position: relative;
}

.only-web {
  display: block !important;
}
.only-web-flex {
  display: flex !important;
}
.only-web-inblock {
  display: inline-block !important;
}
.only-mo {
  display: none !important;
}
.only-mo-flex {
  display: none !important;
}
.only-mo-inblock {
  display: inline-block !important;
}

[class^=inner] {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  width: calc(100% - 1.875rem);
}

.inner_1400 {
  max-width: 1400px;
}
.inner_1300 {
  max-width: 1300px;
}

.hidden {
  display: none;
}

.fixed {
  overflow: hidden;
}

.logo {
  font-size: 2.2222222222rem;
  color: #fff;
  transition: all 0.3s;
}
.logo span {
  font-family: "Agraham";
  font-size: 1.3333333333rem;
  letter-spacing: 0;
  color: #cd99fd;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90;
}
#header .inner {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
}

#gnb ul {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  flex-wrap: nowrap;
}
#gnb ul li + li {
  margin-left: 2.2222222222rem;
}
#gnb ul a {
  color: #fff;
  font-size: 1.1111111111rem;
  line-height: 5.5555555556rem;
  transition: all 0.3s;
}

.h_black .logo,
.h_black #gnb a {
  color: #252525;
}

#footer {
  padding: 1.5625rem 0 6.25rem;
  background-color: #252525;
  color: #757575;
}
#footer * {
  font-family: "Pretendard";
}
#footer .inner {
  text-align: center;
}
#footer .inner .logo {
  opacity: 0.6;
  margin: 0 auto 0.8125rem;
}
#footer .inner .foot_info address {
  line-height: 1.625;
}
#footer .inner .foot_info address span + span {
  position: relative;
  padding-left: 0.3125rem;
  margin-left: 0.3125rem;
}
#footer .inner .foot_info address span + span::after {
  content: "";
  display: block;
  width: 0.0313rem;
  height: 0.3125rem;
  background: #515151;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#footer .inner .foot_info .copy {
  margin-top: 0.9375rem;
  line-height: 1.3333;
}

small.web {
  display: inline-block !important;
}
small.mo {
  display: none !important;
}

small {
  width: 1px;
  height: 0.85em;
  display: inline-block;
  margin: -0.2em 0.5em 0 0.75em;
  background-color: #5c5c5c;
  vertical-align: middle;
}

.hidden {
  overflow: hidden;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

select,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel] {
  width: 100%;
  display: block;
  border: 1px solid #dbdbdb;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel] {
  padding: 0 0.9375em;
}

textarea::-moz-placeholder {
  color: #191919;
}

textarea::placeholder {
  color: #191919;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=tel]:hover,
input[type=tel]:focus {
  border-color: #eee;
}

.textarea_wrap {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px 34px;
}

.placeholder p {
  line-height: 1.5;
  color: #999;
}

.hidden {
  overflow: hidden;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#container {
  position: relative;
}

#footer {
  position: relative;
}

.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}
.tac {
  text-align: center !important;
}

.color_w {
  color: #fff !important;
}
.color_b1 {
  color: #252525 !important;
}
.color_b2 {
  color: #454545 !important;
}
.color_g1 {
  color: #757575 !important;
}
.color_g2 {
  color: #999 !important;
}
.color_point {
  color: #cd99fd !important;
}

.dr-row {
  flex-direction: row;
}

.dr-col {
  flex-direction: column;
}

.dr-col-reverse {
  flex-direction: column-reverse;
}

.dr-row-reverse {
  flex-direction: row-reverse;
}

[class*=flex].col-2 {
  flex-wrap: wrap;
  /* for Chrome, Safari */
  /* for Firefox */
  width: calc(100% + var(--mg-x) * 2);
  /* for IE */
  margin-left: calc(-1 * var(--mg-x));
  margin-top: calc(-1 * var(--mg-t));
}
[class*=flex].col-2 > * {
  width: calc(50% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

.flex1 > * {
  flex: 1;
}

[class*=flex].col-3 {
  flex-wrap: wrap;
  width: calc(100% + var(--mg-x) * 2);
  margin-left: calc(-1 * var(--mg-x));
  margin-top: calc(-1 * var(--mg-t));
}
[class*=flex].col-3 > * {
  width: calc(33.333% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*=flex].col-4 {
  flex-wrap: wrap;
  width: calc(100% + var(--mg-x) * 2);
  margin-left: calc(-1 * var(--mg-x));
  margin-top: calc(-1 * var(--mg-t));
}
[class*=flex].col-4 > * {
  width: calc(25% - var(--mg-x) * 2);
  margin: var(--mg-t) var(--mg-x) 0;
}

[class*=flex].equal-sizes > * {
  width: 50%;
}

[class*=flex].side-by-side > * {
  margin-top: 0;
  margin-left: var(--mg-s);
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.placeholder li p {
  line-height: 1.5;
  color: #999;
  text-indent: -10px;
  padding-left: 10px;
}

.blind {
  font-size: 0;
}

.checkbox1 input[type=checkbox] {
  display: none;
}
.checkbox1 input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: calc(20px + 10px);
  line-height: 20px;
  vertical-align: middle;
}
.checkbox1 input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.checkbox1 input[type=checkbox]:checked + label::after {
  background-image: url(../img/ico/chk_ico.png);
  border: none;
}

.chk_box input[type=checkbox] {
  display: none;
}
.chk_box input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.chk_box input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #dbdbdb;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.chk_box input[type=checkbox]:checked + label::after {
  background-image: url(../img/ico/chk_ico.png);
}

.radiobox_wrap > div {
  display: inline-block;
}
.radiobox_wrap > div + div {
  margin-left: 20px;
}

.radiobox input[type=radio] {
  display: none;
}
.radiobox input[type=radio] + label {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding-left: calc(1.4285rem + 10px);
  line-height: 1.4285rem;
  cursor: pointer;
}
.radiobox input[type=radio] + label::after, .radiobox input[type=radio] + label::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #dbdbdb;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4285rem;
  height: 1.4285rem;
  border-radius: 100%;
}
.radiobox input[type=radio] + label::after {
  width: 9.6px;
  height: 9.6px;
  transform: translate(43%, -50%);
  border: none;
}
.radiobox input[type=radio]:checked + label::after {
  background-color: #cd99fd;
}

.radiobox2 input[type=radio] {
  display: none;
}
.radiobox2 input[type=radio] + label {
  position: relative;
  display: inline-block;
  padding-left: calc(1.4285rem + 10px);
  line-height: 1.4285rem;
  cursor: pointer;
}
.radiobox2 input[type=radio] + label::after, .radiobox2 input[type=radio] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4285rem;
  height: 1.4285rem;
  border-radius: 100%;
}
.radiobox2 input[type=radio] + label::before {
  background-color: #fff;
  border: 1px solid #dbdbdb;
}
.radiobox2 input[type=radio] + label::after {
  width: 0.71425rem;
  height: 0.71425rem;
  margin-left: 0.4081428571rem;
}
.radiobox2 input[type=radio]:checked + label::before {
  background-color: #cd99fd;
  border: 1px solid #cd99fd;
}
.radiobox2 input[type=radio]:checked + label::after {
  background-color: #fff;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  display: none;
  position: relative;
  margin-top: 10px;
  background: #fff;
  border: solid 1px #dddddd;
  border-radius: 5px;
  z-index: 99999 !important;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table {
  background: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table thead tr th {
  width: 32px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  padding-right: 5px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table thead tr th span {
  font-size: 10.1px;
  font-weight: 300;
  color: #999999;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td {
  text-align: center;
  color: #666666;
  font-size: 12px;
  width: 35px;
  height: 35px;
  padding-right: 0px;
  background: #ffffff;
  margin: 1px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 33px;
  border-radius: 50%;
  font-weight: 300;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td a:hover {
  background-color: #cd99fd;
  color: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td a.ui-state-default.ui-state-active {
  border: solid 1px #cd99fd;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td.ui-datepicker-unselectable.ui-state-disabled {
  background: #fff;
  color: #cecece;
}

.ui-datepicker-title {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ui-datepicker-title span {
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.ui-datepicker-title span.ui-datepicker-year {
  font-weight: 300;
}
.ui-datepicker-title select.ui-datepicker-year,
.ui-datepicker-title select.ui-datepicker-month {
  display: inline-block;
  border: 1px solid #dbdbdb;
  width: 32px;
  height: 20px;
  box-sizing: content-box;
}
.ui-datepicker-title select.ui-datepicker-month {
  margin-left: 10px;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  position: relative;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a.ui-datepicker-prev {
  text-indent: -9999px;
  position: absolute;
  background: url("../img/btn/calandar_left.png") no-repeat center;
  width: 16px;
  height: 18px;
  left: 10px;
  top: -2px;
  cursor: pointer;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a.ui-datepicker-next {
  text-indent: -9999px;
  position: absolute;
  background: url("../img/btn/calandar_right.png") no-repeat center;
  width: 16px;
  height: 18px;
  right: 10px;
  top: -2px;
  cursor: pointer;
}

input.date_form {
  background: url("../img/ico/ico_calander.png") no-repeat;
  background-position: 98% center;
}
input.date_form::-moz-placeholder, input.date_form::-webkit-input-placeholder, input.date_form:-ms-input-placeholder {
  color: #333333;
}
input.date_form.date_form3 {
  background: none;
}

button.ui-datepicker-trigger {
  display: none;
}

img.ui-datepicker-taigger {
  margin-left: 10px;
  margin-top: 1px;
}

.ui-datepicker-trigger {
  margin-left: 10px;
}

.only_web {
  display: block !important;
}

.only_mo {
  display: none !important;
}

.only_mo_inline {
  display: none !important;
}

.only_web_inline {
  display: inline-block !important;
}

.only_web_flex {
  display: flex !important;
}

small.web {
  display: inline-block !important;
}

small.mo {
  display: none !important;
}

@media screen and (max-width: 1140px) {
  [class*=flex].ta_col_2 {
    margin-left: calc(-1 * var(--ta-mg-x));
    margin-top: calc(-1 * var(--ta-mg-t));
  }
  [class*=flex].ta_col_2 > * {
    width: calc(50% - var(--ta-mg-x) * 2);
    margin: var(--ta-mg-t) var(--ta-mg-x) 0;
  }
}
@media screen and (max-width: 850px) {
  small.web {
    display: none !important;
  }
  small.mo {
    display: inline-block !important;
  }
  .only_web {
    display: none !important;
  }
  .only_mo {
    display: block !important;
  }
  .only_mo_inline {
    display: inline-block !important;
  }
  .only_web_inline {
    display: none !important;
  }
  .only_web_flex {
    display: none !important;
  }
  [class*=flex].mo_col_1 {
    width: 100%;
    margin-left: 0;
    margin-top: calc(-1 * var(--mo-mg-top));
  }
  [class*=flex].mo_col_1 > * {
    width: 100% !important;
    margin: var(--mo-mg-top) 0 0;
  }
  .mo_block_100 {
    display: block;
  }
  .mo_block_100 > * {
    flex: unset;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .mo_block_100 > *:nth-of-type(n + 2) {
    margin-top: var(--mo-mg-top);
  }
  .mo_block_100 {
    display: block;
  }
  .mo_block_100 > * {
    width: 100% !important;
    margin-left: 0;
  }
  .checkbox1 input[type=checkbox] + label {
    padding-left: calc(1.4285rem + 10px);
    line-height: 1.4285rem;
  }
  .checkbox1 input[type=checkbox] + label::after {
    background-color: #fff;
    border-radius: 0.357rem;
    width: 1.4285rem;
    height: 1.4285rem;
  }
  .checkbox1 input[type=checkbox]:checked + label::after {
    background-image: url(../img/ico/chk_ico_m.png);
    border: none;
  }
}
.sec_ttl_box {
  text-align: center;
  margin-bottom: 3.3333333333rem;
}
.sec_ttl_box .line {
  display: block;
  background: #cd99fd;
  width: 4.4444444444rem;
  height: 0.2777777778rem;
}
.sec_ttl_box .sec_ttl {
  font-size: 1.2222222222rem;
  font-family: "Agraham";
  text-transform: uppercase;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
}
.sec_ttl_box .sec_ttl::after {
  content: "";
  display: block;
  width: calc(100% + 2.2222222222rem);
  height: 100%;
  background: #cd99fd;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: -1;
}

.visual_sec {
  background: #272727;
  color: #fff;
}
.visual_sec .inner_1300 {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  height: 100%;
}
.visual_sec .ttl {
  font-size: 3.3333333333rem;
}
.visual_sec .ttl strong {
  font-family: "Agraham";
  color: #cd99fd;
  line-height: 2;
  display: inline-block;
  margin: 0 1.9444444444rem;
  letter-spacing: 0;
  padding: 0 0.5555555556rem 0 1.1111111111rem;
  position: relative;
  width: 23.8888888889rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(12, end);
  -webkit-animation: typing 2s steps(12, end);
}
.visual_sec .ttl strong::after {
  content: "";
  width: 2px;
  height: 75%;
  background: #fff;
  position: absolute;
  top: 5%;
  right: 0;
  animation: blink-caret 0.5s step-end infinite alternate;
  -webkit-animation: blink-caret 0.5s step-end infinite alternate;
}
.visual_sec .ttl strong::before {
  content: "";
  display: block;
  width: calc(100% + 0.5555555556rem);
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    background: transparent;
  }
}
.about_sec {
  padding-top: 1.6666666667rem;
}
.about_sec .my_img {
  margin-right: 4.4444444444rem;
  flex: 0 0 auto;
}
.about_sec .my_img figure {
  max-width: 19.4444444444rem;
  border-radius: 11.1111111111rem 11.1111111111rem 0 0;
  overflow: hidden;
  padding: 1.3888888889rem;
  box-sizing: border-box;
  border: 2px solid #cd99fd;
}
.about_sec .profile {
  margin-top: 1.6666666667rem;
}
.about_sec .profile dl {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  line-height: 1.6;
}
.about_sec .profile dt {
  font-size: 1.1111111111rem;
  font-weight: 500;
}
.about_sec .profile dd {
  position: relative;
  padding-left: 0.5555555556rem;
  margin-left: 0.5555555556rem;
  font-size: 1rem;
}
.about_sec .profile dd::after {
  content: "";
  display: block;
  width: 1px;
  height: 0.7777777778rem;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.about_sec .my_area {
  font-size: 1.1111111111rem;
  line-height: 1.5;
  margin-bottom: 2.2222222222rem;
}
.about_sec .my_info_box .label {
  display: block;
  color: #cd99fd;
  font-size: 1.1111111111rem;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
.about_sec .my_info_box .detail p + p {
  margin-top: 1.1111111111rem;
}
.about_sec .my_info_box .detail .date {
  display: block;
  margin-bottom: 0.5555555556rem;
  color: #757575;
}
.about_sec .my_info_box .detail b {
  font-size: 1.1111111111rem;
  margin-right: 0.4444444444rem;
}
.about_sec .my_info_box .detail span {
  font-size: 1rem;
  color: #454545;
}
.about_sec .my_info_box .hashtag_box {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.about_sec .my_info_box .hashtag_box .tag {
  display: block;
  padding: 0.4444444444rem 1.1111111111rem;
  background: #f9f9f9;
  border-radius: 2.7777777778rem;
  font-size: 0.8888888889rem;
}/*# sourceMappingURL=style.css.map */